.button {
  font-family: "MartaPerez";
  padding: 20px;
  width: fit-content;
  background-color: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 35px;
  font-size: 20px;
}
.button:hover {
  text-decoration: underline;
  background-color: bisque;
  border: solid 1px black;
  color: black;
  cursor: pointer;
}
